@using Innovation.Areas.Innovation.Helpers
@model Innovation.Areas.Innovation.Models.Forms.PartnershipIntakeForm
<script src="~/Areas/Innovation/Scripts/_libs/easyresponsivetab/easy-responsive-tabs.js"></script>

<div class="pi-text-container form-panel-text">

    @Html.Sitecore().Field("Description", Sitecore.Context.Item)
</div>
<div class="contact-us-form-section intake-form-section d-flex">
    <div id="partnershipIntake-formPanel" class="container-fluid contact-info partnership-intake tabs-horizontal">
        @using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post,
            new
            {
                @id = "partnershipIntake-form",
                @enctype = "multipart/form-data",
                @class = "contact-us-form d-flex flex-column justify-content-evenly",
                @role = "form",
                @autocomplete = "off"
            }))
        {
            @Html.AntiForgeryToken()
            HtmlHelper.ClientValidationEnabled = true;
            HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
            <ul class="resp-tabs-list nav tabs_hor">

                <li class="text-uppercase"><span class="bi bi-1-circle"></span>1. Contact Info</li>
                <li class="text-uppercase"><span class="bi bi-2-circle"></span>2. Problem</li>
                <li class="text-uppercase"><span class="bi bi-3-circle"></span>3. Solution</li>
                <li class="text-uppercase"><span class="bi bi-4-circle"></span>4. Partnership</li>

            </ul>

            <div class="resp-tabs-container tabs_hor">

                @*----- Tab 1 ---------*@
                <div class="form-section">
                    <fieldset>
                        <legend>Contact Info</legend>
                        <div class="form-group required">
                            @Html.LabelFor(x => x.FullName)
                            @Html.TextBoxFor(x => x.FullName, Model.FullName,
                                new
                                     {
                                    autocomplete = "off"

                                     })
                            @Html.ValidationMessageFor(x => x.FullName)
                        </div>

                        <div class="form-group required">
                            @Html.LabelFor(x => x.EmailAddress)
                            @Html.TextBoxFor(x => x.EmailAddress,
                                new
                                {
                                    autocomplete = "off"

                                     })
                            @Html.ValidationMessageFor(x => x.EmailAddress)
                        </div>

                        <div class="form-group required">
                            @Html.LabelFor(x => x.PhoneNumber)
                            @Html.TextBoxFor(x => x.PhoneNumber, Model.PhoneNumber,
                                 new
                                 {

                                          autocomplete = "off"
                                 })
                            @Html.ValidationMessageFor(x => x.PhoneNumber)
                        </div>

                        <div class="form-group required">
                            @Html.LabelFor(x => x.CompanyName)
                            @Html.TextBoxFor(x => x.CompanyName, Model.CompanyName,
                                 new
                                 {

                                          autocomplete = "off"
                                 })
                            @Html.ValidationMessageFor(x => x.CompanyName)
                        </div>

                        <div class="form-group required">
                            @Html.LabelFor(x => x.Title)
                            @Html.TextBoxFor(x => x.Title, Model.Title,
                                 new
                                 {

                                          autocomplete = "off"
                                 })
                            @Html.ValidationMessageFor(x => x.Title)
                        </div>

                        <div class="form-group required">
                            @Html.LabelFor(x => x.CompanyURL)
                            @Html.TextBoxFor(x => x.CompanyURL, Model.CompanyURL,
                                 new
                                 {

                                          autocomplete = "off"
                                 })
                            @Html.ValidationMessageFor(x => x.CompanyURL)
                        </div>

                        <div class="form-group required">
                            @Html.LabelFor(x => x.CompanyPitch,
                                new
                                     {
                                    @class = "custom-file-upload"
                                })
                            @Html.TextBoxFor(x => x.CompanyPitch,
                                new
                                {
                                    autocomplete = "off",
                                    @type = "file",
                                    @class = "file-upload"
                                })
                            @Html.ValidationMessageFor(x => x.CompanyPitch)
                        </div>

                        <div class="form-group">
                            <button type="button" class="btn btn-primary btn-next">Next</button>
                        </div>
                    </fieldset>
                </div>
                @*----- Tab 2 ---------*@
                <div class="form-section">
                    <fieldset>
                        <legend>Problem</legend>
                        <div class="form-group required">
                            @Html.LabelFor(x => x.BusinessIdea)
                            @Html.TextAreaFor(x => x.BusinessIdea, new
                               {
                                   @class = "form-control border-bottom",
                                   @rows = "5",
                                   @placeholder = "Type here",
                                   data_id = "1",
                               })

                            @Html.ValidationMessageFor(x => x.BusinessIdea)

                            <div class="count-remaining"><span id="chars1">500</span> characters left</div>
                            @*This (and all subsequent) span ID number has to match the data attribute ID of the rendered textarea above for word count to work*@
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.Priority)
                            @Html.DropDownListFor(x => x.Priority, Model.Priorities,
                                new
                                     {
                                    @class = "priority"
                                })
                            @Html.ValidationMessageFor(x => x.Priority)
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-secondary btn-back">Back</button>
                            <button type="button" class="btn btn-primary btn-next">Next</button>
                        </div>
                    </fieldset>
                </div>
                @*----- Tab 3 ---------*@
                <div class="form-section">
                    <fieldset>
                        <legend>Solution</legend>
                        <div class="form-group required">
                            @Html.LabelFor(x => x.SolutionMessage)
                            @Html.TextAreaFor(x => x.SolutionMessage, new
                            {
                                @class = "form-control border-bottom",
                                @rows = "5",
                                @placeholder = "Type here",
                                data_id = "2"
                            })

                            @Html.ValidationMessageFor(x => x.SolutionMessage)
                            <div class="count-remaining"><span id="chars2">500</span> characters left</div>
                        </div>
                        <div class="form-group required">
                            @Html.LabelFor(x => x.BenefitsMessage)
                            @Html.TextAreaFor(x => x.BenefitsMessage, new
                            {
                                @class = "form-control border-bottom",
                                @rows = "5",
                                @placeholder = "Type here",
                                data_id = "3"
                            })

                            @Html.ValidationMessageFor(x => x.BenefitsMessage)
                            <div class="count-remaining"><span id="chars3">500</span> characters left</div>
                        </div>
                        <div class="form-group required">
                            @Html.LabelFor(x => x.ROIMessage)
                            @Html.TextAreaFor(x => x.ROIMessage, new
                            {
                                @class = "form-control border-bottom",
                                @rows = "5",
                                @placeholder = "Type here",
                                data_id = 4
                            })

                            @Html.ValidationMessageFor(x => x.ROIMessage)
                            <div class="count-remaining"><span id="chars4">500</span> characters left</div>
                        </div>
                        <div class="form-group required">
                            @Html.LabelFor(x => x.CompetitorsMessage)
                            @Html.TextAreaFor(x => x.CompetitorsMessage, new
                            {
                                @class = "form-control border-bottom",
                                @rows = "5",
                                @placeholder = "Type here",
                                data_id = 5
                            })

                            @Html.ValidationMessageFor(x => x.CompetitorsMessage)
                            <div class="count-remaining"><span id="chars5">500</span> characters left</div>
                        </div>
                        <div class="form-group required">
                            @Html.LabelFor(x => x.OthersInfoMessage)
                            @Html.TextAreaFor(x => x.OthersInfoMessage, new
                            {
                                @class = "form-control border-bottom",
                                @rows = "5",
                                @placeholder = "Type here",
                                data_id = 6
                            })

                            @Html.ValidationMessageFor(x => x.OthersInfoMessage)
                            <div class="count-remaining"><span id="chars6">500</span> characters left</div>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-secondary btn-back">Back</button>
                            <button type="button" class="btn btn-primary btn-next">Next</button>
                        </div>
                    </fieldset>
                </div>
                @*----- Tab 4 ---------*@
                <div class="form-section">
                    <fieldset>
                        <legend>Partnership</legend>
                        <div class="form-group required">
                            @Html.LabelFor(x => x.PartnershipMessage)
                            @Html.TextAreaFor(x => x.PartnershipMessage, new
                            {
                                @class = "form-control border-bottom",
                                @rows = "5",
                                @placeholder = "Type here",
                                data_id = 7
                            })

                            @Html.ValidationMessageFor(x => x.PartnershipMessage)
                            <div class="count-remaining"><span id="chars7">500</span> characters left</div>
                        </div>
                        <div class="form-check required ps-0">
                            @Html.LabelFor(x => x.Option)

                            <ul class="seeking-investment">
                                <li>
                                    @Html.RadioButtonFor(x => x.Option, "yes", new
                                    {
                                        @class = "form-check-input",
                                        id = "yes"

                                    })
                                    @Html.Label("Yes", new { @for = "yes", @class = "form-check-label" })
                                </li>
                                <li>
                                    @Html.RadioButtonFor(x => x.Option, "no", new
                                    {
                                        @class = "form-check-input",
                                        id = "no"

                                    })
                                    @Html.Label("No", new { @for = "no", @class = "form-check-label" })
                                </li>
                            </ul>

                            @Html.TextBoxFor(x => x.SelectedOption, Model.SelectedOption,
                            new
                            {
                                @class = "input-hidden",
                                autocomplete = "off"
                            })
                            @Html.ValidationMessageFor(x => x.SelectedOption, null, new { @class = "radio-validation-message" })
                        </div>

                        @Html.Partial("~/Areas/Innovation/Views/Shared/_loaderIcon.cshtml")

                        <div class="form-group">
                            <button type="button" class="btn btn-secondary btn-back">Back</button>
                            <button id="formsubmit" type="submit" class="btn btn-primary contact-submit">Submit</button>
                        </div>
                    </fieldset>
                </div>
            </div>
        }
    </div>
    <div style="display:none;" id="formConfirmation" class="pi-text-container">
        <div id="message"></div>
    </div>
</div>


