@model NM_MultiSites.Areas.westhealth.Models.Components.AccordionPanelViewModel

<section id="@Model.SectionId" class="bg-white accordion-image__panel py-5">
    <div class="container single-col-accordion">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="row">
                    <div class="col-lg-7">
                        @if (Sitecore.Context.PageMode.IsExperienceEditor)
                        {
                            @Html.Sitecore().Field(NM_MultiSites.Areas.westhealth.Templates.AccordionPanel.Fields.Image)
                        }
                        else
                        {
                            <img class="w-100 mb-4" src="@Model.ImageUrl" alt="@Model.ImageAltText">
                        }
                    </div>
                    <div class="col-lg-5">
                        <div class="accordion position-relative rounded p-3 box-shadow--sm" id="collaborativeCareDiagram">
                            @Html.Sitecore().DynamicPlaceholder("accordionimage")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
