@model NM_MultiSites.Areas.westhealth.Models.Components.EnhancedCalloutViewModel


@*<div>
    <div>@Html.Sitecore().Field(NM_MultiSites.Areas.westhealth.Templates.EnhancedCallout.Fields.Title)</div>
    <div>@Html.Sitecore().Field(NM_MultiSites.Areas.westhealth.Templates.EnhancedCallout.Fields.Copy)</div>

    <div>@Html.Sitecore().DynamicPlaceholder("enhancedcallout-leftcard")</div>
    <div>@Html.Sitecore().DynamicPlaceholder("enhancedcallout-rightcard")</div>

</div>*@


<section class="statement-content-w-cards py-5">
    <div class="container">

        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <h2 class="statement-title mb-4">
                    @Html.Sitecore().Field(NM_MultiSites.Areas.westhealth.Templates.EnhancedCallout.Fields.Title)
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-7 offset-lg-1">
                @Html.Sitecore().Field(NM_MultiSites.Areas.westhealth.Templates.EnhancedCallout.Fields.Copy)
            </div>
        </div>

        <div class="row mt-1 gy-4 card-row">
            <div class="col-md-6 col-lg-5 offset-lg-1">
                @Html.Sitecore().DynamicPlaceholder("enhancedcallout-leftcard")
            </div>

            <div class="col-md-6 col-lg-5">
                @Html.Sitecore().DynamicPlaceholder("enhancedcallout-rightcard")
            </div>
        </div>
    </div>
</section>
