@model NM_MultiSites.Areas.westhealth.Models.Components.ImageAboveTwoColumnViewModel

<div id="@Model.SectionId" class="my-5 bg-light tools-resources bg-gradient-secondary">
    @if (Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @Html.Sitecore().Field(NM_MultiSites.Areas.westhealth.Templates.ImageAboveTwoColumn.Fields.Image)
    }
    else
    {
        <img src="@Model.ImageUrl" class="w-100" alt="@Model.ImageAltText">
    }
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-5 offset-lg-1 mb-4 mb-lg-0">
                <div class="d-md-none mb-3">
                    <h2 class="introduction-title introduction-title--primary mb-4 text-white">
                        @Html.Sitecore().Field(NM_MultiSites.Areas.westhealth.Templates.ImageAboveTwoColumn.Fields.Title)
                    </h2>
                    <p class="text-white">
                        @Html.Sitecore().Field(NM_MultiSites.Areas.westhealth.Templates.ImageAboveTwoColumn.Fields.Copy)
                    </p>
                    @Html.Sitecore().Field(NM_MultiSites.Areas.westhealth.Templates.ImageAboveTwoColumn.Fields.CtaSource, new { @class = "btn btn-light mt-4" })
                </div>
                <div class="d-none d-lg-block position-sticky sticky-top" style="top:6rem;">
                    <h2 class="introduction-title introduction-title--primary mb-4 text-white">
                        @Html.Sitecore().Field(NM_MultiSites.Areas.westhealth.Templates.ImageAboveTwoColumn.Fields.Title)
                    </h2>
                    <p class="text-white">
                        @Html.Sitecore().Field(NM_MultiSites.Areas.westhealth.Templates.ImageAboveTwoColumn.Fields.Copy)
                    </p>
                    @Html.Sitecore().Field(NM_MultiSites.Areas.westhealth.Templates.ImageAboveTwoColumn.Fields.CtaSource, new { @class = "btn btn-light mt-4" })<
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1">
                <h4 class="fs-28 mb-5 text-white">
                    @Html.Sitecore().Field(NM_MultiSites.Areas.westhealth.Templates.ImageAboveTwoColumn.Fields.CardListTitle)
                </h4>
                @Html.Sitecore().DynamicPlaceholder("imageabovetwocolumn-cards")
            </div>
        </div>
    </div>
</div>