@model NM_MultiSites.Areas.westhealth.Models.Components.ResearchListViewModel

<section class="news-featured position-relative py-5 d-flex flex-column justify-content-center bg-white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <!-- Section Title -->
                <div class="section-title">
                    <h2 class="secondary-title secondary-title--dark">@Html.Sitecore().Field(NM_MultiSites.Areas.westhealth.Templates.ResearchList.Fields.Title)</h2>
                </div>

                <!-- Repeat -->
                <div class="row g-4 card-row">
                    <!-- Card Repeater -->
                    @foreach (var card in Model.ResearchCards)
                    {
                        <div class="col-md-6">
                            <!--    if card has a theme (hasTheme: it is a research card - do not include: shadow-sm border-0 from above), class gets added research-card--${cardTheme}, class options are 'research-card--default' 'research-card--dark' 'research-card--shadow' -->
                            <div class="card h-100 @card.BackgroundCssClass rounded-3 ps-1 pe-1 pt-3 pb-3 p-md-3">
                                <div class="card-body d-flex flex-column justify-content-between">
                                    <h3 class="card-title mb-4">@card.Title</h3>
                                    <div class="footer-links d-flex justify-content-between">
                                        <p class="footer__source">@card.Source</p>
                                        <a href="@card.CtaSource" class="btn btn-light mt-4 w-100">@card.CtaText <i class="bi bi-download"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
