@model NM_MultiSites.Areas.westhealth.Models.Components.SplitContentHeroViewModel

<!-- Add "image-left" to "hero-split" to change image order -->
<section class="hero-split position-relative @Model.ImageLocationCssClass my-5" aria-labelledby="collab-heading">
    <!--  Remove 'bg-gradient-primary' and replace with 'bg-white'-->
    <div class="@Model.BackgroundCssClass position-absolute gradient-bg " data-bg="@Model.BackgroundCssClass"></div>
    <div class="container">
        <div class="row g-0 align-items-stretch">

            <!-- Text Column -->
            @Html.Sitecore().DynamicPlaceholder("splitcontenthero-card")

            <!-- Image Column -->
            <div class="col-lg-6 position-relative hero-img__container">
                @if (Sitecore.Context.PageMode.IsExperienceEditor)
                {
                    @Html.Sitecore().Field(NM_MultiSites.Areas.westhealth.Templates.SplitContentHero.Fields.Image)
                }
                else
                {
                    if (!string.IsNullOrEmpty(Model.ImageUrl))
                    {
                        <picture>
                            <source srcset="@Model.ImageUrl?mw=670&mh=500&mode=crop" media="(max-width: 991px)" />
                            <source srcset="@Model.ImageUrl?mw=670&mh=701&mode=crop" media="(min-width: 992px)" />
                            <img src="@Model.ImageUrl?mw=670&mh=701&mode=crop" alt="@Model.ImageAltText" class="img-fluid w-100 h-100 object-fit-cover hero-img" />
                        </picture>
                    }
                }
            </div>
        </div>
    </div>
</section>

