@model NM_MultiSites.Areas.westhealth.Models.Components.TeamMemberViewModel

<div>
    <div>
        @Model.Name
    </div>
    <div>
        @Model.Qualifications
    </div>
    <div>
        @Model.Titles
    </div>
    <div>
        @Model.Image
    </div>
    <div>
        @Model.ProfileLink
    </div>
</div>
