@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using EMS.Areas.ems.Helper
@model RenderingModel
@{
    var item = RenderingContext.Current.Rendering.Item;

}

    <div class="panel col-md-12">
        @if (item != null)
        {
            <p class="h1 @("content-align-"+SitecoreAccess.getRenderingparameterDroplinkSelectedItem("Title").Fields["Value"].Value)">@Html.Sitecore().Field("Title", item)</p>
            <p style="color: hsl(0, 0%, 35%);" class="h3 @("content-align-"+SitecoreAccess.getRenderingparameterDroplinkSelectedItem("Short Text").Fields["Value"].Value)">@Html.Sitecore().Field("Short Text", item)</p>
            <div class="@("content-align-"+SitecoreAccess.getRenderingparameterDroplinkSelectedItem("MainContent").Fields["Value"].Value)">
                @Html.Sitecore().Field("MainContent", item)
            </div>


        }
        else if (Sitecore.Context.PageMode.IsExperienceEditor)
        {
            <p>Choose DataSource  </p>
        }

    </div>