@model NM_MultiSites.Areas.westhealth.Models.Pages.ArticleViewModel


<div>
    <div>@Html.Sitecore().Field(NM_MultiSites.Areas.westhealth.Templates.Article.Fields.Title)</div>
    <div>@Html.Sitecore().Field(NM_MultiSites.Areas.westhealth.Templates.Article.Fields.Subtitle)</div>
    <div>@Html.Sitecore().Field(NM_MultiSites.Areas.westhealth.Templates.Article.Fields.Author)</div>
    <div>@Html.Sitecore().Field(NM_MultiSites.Areas.westhealth.Templates.Article.Fields.Source)</div>
    <div>@Html.Sitecore().Field(NM_MultiSites.Areas.westhealth.Templates.Article.Fields.Date)</div>
    <div>@Html.Sitecore().Field(NM_MultiSites.Areas.westhealth.Templates.Article.Fields.Image)</div>
    <div>@Html.Sitecore().Field(NM_MultiSites.Areas.westhealth.Templates.Article.Fields.Copy)</div>
</div>