@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using EMS.Areas.ems.Models
@model EventDetail


@if (Model != null && Model.Item != null)
{

    <div class="col-md-12" style="background: white;">
        <div class="card-body">

            <h4 class="card-title">@Model.Title</h4>
            <p>@Model.StartDate</p>
            <p>@Model.EndDate</p>
            @if (Model.Image != null && Model.Image.Trim().Length > 0)
            {
                <img src="@Model.Image" class="card-img" alt="...">
            }

        <p class="card-text">
            @Model.MainContent
            @Model.AdditionalContent
        </p>

            @if (Model.CTALink != null && Model.CTATitle != null)
            {
                <p><a class="btn btn-lg btn-primary" href="@Model.CTALink.ToString()" role="button">@Model.CTATitle</a></p>
            }
            <p><a href="@Model.Item.Parent.Paths.ContentPath" role="button">Back To Events</a></p>
        </div>
    </div>


}
