@using NM_MultiSites.Areas.Longevity.Models.Components;
@model NM_MultiSites.Areas.Longevity.Models.Components.WhoWeAre

<div class="component-who-we-are" role="region" aria-label="Who We Are">
    @{ 
        int _counter = 1;
    }
    @foreach (var whosection in @Model.SectionCollection)
    {

        <div class="section @whosection.Class">
            @if (_counter == 1)
            {
                <div class="component-title"><h2>@Model.Title</h2></div>
                <div class="svg-background" aria-hidden="true">
                </div>
                _counter++;
            }

            <div class="section-inner-container">
                <div class="left">
                    <div class="content">
                        <h2>@whosection.LeftDescription</h2>
                        @if (whosection.LeftCTA.Title.ToString() != "")
                        {
                            <a href="@whosection.LeftCTA.CTALink" class="button">@whosection.LeftCTA.Title</a>
                        }
                    </div>
                </div>
                <div class="right">
                    <div class="content">
                        @if (whosection.RightTeamMembers.TeamMemberRowCollection.Count > 0)
                        {
                            <div class="team-members">
                                @foreach (var row in whosection.RightTeamMembers.TeamMemberRowCollection)
                                {
                                    foreach (var member in row.TeamMemberCollection)
                                    {
                                        <div class="member">
                                            <img class="photo" src="@member.ProfileImagePath" alt="Photo of @member.Name.Title">
                                        </div>
                                    }
                                }
                            </div>
                        }
                        else if (whosection.RightTimeline.EventCollection.Count > 0)
                        {
                            Timeline timeline = new Timeline();
                            timeline = whosection.RightTimeline;
                            Html.RenderPartial("Timeline", timeline);
                        }
                        else
                        {
                            @whosection.RightContent
                        }
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="component-footer">
        <div class="footer-inner-container">
            @Model.BottomContent
        </div>
    </div>
</div>

