@model NM_MultiSites.Areas.Innovation.Models.Components.Bio

@{
    bool isEditMode = Sitecore.Context.PageMode.IsExperienceEditor;
    string sectionName = (Model.Name != null && !String.IsNullOrWhiteSpace(Model.Name.ToString())) ?
        Model.Name.ToString() : String.Empty;
}

<div class="card team-card d-flex my-4" data-bio-name="@(sectionName)">
    <div class="card-flex d-flex flex-column">
        <div class="card-content">
            <div class="card-top">
                @Html.Sitecore().Field("Image", Model.SourceItem, new { @class = "card-top-img" })
                <div class="team-card-overlay">
                    <div class="card-overlay-content">
                        <a class="btn btn-primary btn-bio collapsed" data-bs-toggle="collapse" href="javascript:void();" role="button" aria-expanded="false" aria-controls="second-bio">Bio</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>
                <p class="card-text">@Model.LongJobTitle</p>
                @if (isEditMode)
                {
                    <h5 class="card-title">Edit Left Column</h5>
                    <p class="card-text">@Model.Profile_LeftColumn</p>
                    <h5 class="card-title">Edit Right Column</h5>
                    <p class="card-text">@Model.Profile_RightColumn</p>
                }
            </div>
        </div>
    </div>
    <div class="team-card-content d-none">
        <div class="team-card-content-container">
            @if (Model.Profile_LeftColumn != null && !String.IsNullOrWhiteSpace(Model.Profile_LeftColumn.ToString()))
            {
                <p class="left-column-data">
                    @Model.Profile_LeftColumn
                </p>
            }
            @if (Model.Profile_RightColumn != null && !String.IsNullOrWhiteSpace(Model.Profile_RightColumn.ToString()))
            {
                <p class="right-column-data">
                    @Model.Profile_RightColumn
                </p>
            }
        </div>
    </div>
    <div class="mobile-content">
    </div>

</div>
