@model NM_MultiSites.Areas.westhealth.Models.Navigation.FooterViewModel

<div data-footer class="text-white py-5 px-3 px-md-5">
    <div class="container">
        <div class="row gy-5 align-items-start">
            <!-- Left: Signup & Logos -->
            <div class="col-lg-7 offset-lg-1">
                <h2 class="footer-title mb-3">Sign up for newsletter updates.</h2>

                <div class="row">
                    <div class="col-12">
                        <div class="footer-form" data-form>
                            <script type="text/javascript" src="https://northwestern-medicine.formstack.com/forms/js.php/west_health_accelerator_signup"></script>
                            <noscript>
                                <a href="https://northwestern-medicine.formstack.com/forms/west_health_accelerator_signup" title="Online Form">Online Form - West Health Signup</a>
                            </noscript>
                        </div>
                    </div>
                </div>

                <div class="row align-items-center gx-4 my-4">
                    <div class="col-4">
                        <a href="https://nm.org" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="190" height="40" viewBox="0 0 190 40" fill="none" class="mw-100">
                                <path d="M59.2798 0.5H63.8714L69.4448 13.366V0.5H72.3898V16.8179H68.0198L62.2881 3.25451V16.8179H59.2798V0.5Z" fill="white" />
                                <path d="M79.2613 5.13062C83.0297 5.13062 84.6447 7.91999 84.6447 11.1278C84.6447 14.3356 82.9663 17.2295 79.198 17.2295C76.253 17.2295 73.9097 15.2072 73.9097 11.1975C73.9097 8.443 75.1763 5.13062 79.2613 5.13062ZM79.3247 14.8934C80.6547 14.8934 81.573 14.0217 81.573 10.9883C81.573 9.48901 81.3197 7.36211 79.293 7.36211C77.0763 7.36211 77.0447 10.1864 77.0447 11.2324C77.0447 13.7777 77.8047 14.8934 79.3247 14.8934Z" fill="white" />
                                <path d="M86.2282 8.20826C86.2282 7.65038 86.1332 6.01163 86.0698 5.34915H88.9198L88.9832 7.54578C89.3632 6.5695 90.0598 5.20968 92.5298 5.31428V8.31286C89.4582 7.99906 89.2682 9.74241 89.2682 11.172V16.8205H86.2282V8.20826Z" fill="white" />
                                <path d="M101.081 16.6791C100.099 16.958 99.2125 17.0278 98.7058 17.0278C95.6342 17.0278 95.6342 14.9009 95.6342 13.9594V7.68335H93.6392V5.45185H95.6342V3.22035L98.6425 2V5.45185H101.112V7.68335H98.6425V12.8437C98.6742 13.8897 98.6742 14.5522 100.004 14.5522C100.447 14.5522 100.669 14.5173 101.017 14.4825V16.6791H101.081Z" fill="white" />
                                <path d="M102.948 0.5H105.957V6.95043C106.305 6.39256 107.065 5.24194 108.965 5.24194C110.516 5.24194 111.498 6.07875 111.973 6.7761C112.353 7.33397 112.638 8.37998 112.638 9.87927V16.8179H109.63V9.98388C109.63 9.3214 109.63 7.5083 107.92 7.5083C107.065 7.5083 105.957 8.06618 105.957 9.84441L105.988 16.8179H102.917V0.5H102.948Z" fill="white" />
                                <path d="M116.66 5.41797L118.591 14.0302L120.776 5.41797H124.133L126.286 14.0302L128.345 5.41797H131.353L127.806 16.8195H124.481L122.36 8.38168L120.175 16.8195H116.85L113.43 5.41797H116.66Z" fill="white" />
                                <path d="M134.425 11.9737C134.425 12.7059 134.425 15.042 136.547 15.042C137.307 15.042 138.067 14.7282 138.352 13.473H141.138C141.107 14.0309 140.98 14.9723 140.157 15.9486C139.397 16.8203 138.035 17.2735 136.515 17.2735C135.628 17.2735 133.95 17.0992 132.873 15.844C131.923 14.7631 131.543 13.2289 131.543 11.381C131.543 9.53302 131.955 7.30152 133.697 5.97657C134.488 5.38383 135.47 5.03516 136.61 5.03516C138.098 5.03516 139.84 5.66276 140.79 7.78966C141.487 9.35869 141.455 11.0323 141.392 11.9737H134.425ZM138.288 9.88169C138.288 9.35869 138.257 7.33639 136.483 7.33639C135.153 7.33639 134.583 8.55674 134.52 9.88169H138.288Z" fill="white" />
                                <path d="M145.507 13.542C145.539 14.2742 145.951 15.111 147.217 15.111C148.294 15.111 148.832 14.4485 148.832 13.7512C148.832 13.2281 148.579 12.8097 147.407 12.4611L145.507 11.9032C144.652 11.6243 142.879 11.0664 142.879 8.73028C142.879 6.49878 144.716 5.17383 147.407 5.17383C149.529 5.17383 151.271 6.25471 151.366 8.55595H148.611C148.516 7.30073 147.597 7.19613 147.122 7.19613C146.299 7.19613 145.697 7.61453 145.697 8.31188C145.697 9.07895 146.204 9.25329 147.122 9.49736L148.991 10.0552C150.891 10.6131 151.746 11.694 151.746 13.2282C151.746 15.1807 150.194 17.1681 146.996 17.1681C145.666 17.1681 144.399 16.8543 143.449 15.7735C142.784 14.9715 142.721 14.065 142.689 13.542H145.507Z" fill="white" />
                                <path d="M159.758 16.6791C158.776 16.958 157.89 17.0278 157.383 17.0278C154.311 17.0278 154.311 14.9009 154.311 13.9594V7.68335H152.316V5.45185H154.311V3.22035L157.32 2V5.45185H159.79V7.68335H157.32V12.8437C157.351 13.8897 157.351 14.5522 158.681 14.5522C159.125 14.5522 159.346 14.5173 159.695 14.4825V16.6791H159.758Z" fill="white" />
                                <path d="M163.685 11.9737C163.685 12.7059 163.685 15.042 165.807 15.042C166.567 15.042 167.327 14.7282 167.612 13.473H170.398C170.367 14.0309 170.24 14.9723 169.417 15.9486C168.657 16.8203 167.295 17.2735 165.775 17.2735C164.888 17.2735 163.21 17.0992 162.133 15.844C161.183 14.7631 160.803 13.2289 160.803 11.381C160.803 9.53302 161.215 7.30152 162.957 5.97657C163.748 5.38383 164.73 5.03516 165.87 5.03516C167.358 5.03516 169.1 5.66276 170.05 7.78966C170.747 9.35869 170.715 11.0323 170.652 11.9737H163.685ZM167.548 9.88169C167.548 9.35869 167.517 7.33639 165.743 7.33639C164.413 7.33639 163.843 8.55674 163.78 9.88169H167.548Z" fill="white" />
                                <path d="M172.457 8.20826C172.457 7.65038 172.362 6.01163 172.331 5.34915H175.181L175.244 7.54578C175.624 6.5695 176.321 5.20968 178.791 5.31428V8.31286C175.719 7.99906 175.529 9.74241 175.529 11.172V16.8205H172.489V8.20826H172.457Z" fill="white" />
                                <path d="M180.246 7.43347C180.246 7.3986 180.246 6.14338 180.183 5.34144H183.096L183.191 7.04993C183.476 6.52693 184.3 5.0625 186.548 5.0625C188.575 5.0625 189.43 6.42233 189.715 7.22427C189.936 7.92162 190 8.51435 190 10.6413V16.8128H186.896V9.69984C186.896 9.2117 186.896 8.82816 186.738 8.44462C186.516 7.95648 186.041 7.46834 185.25 7.46834C184.585 7.46834 183.983 7.81701 183.666 8.34002C183.476 8.61896 183.286 9.2117 183.286 10.0834V16.7779H180.215V7.43347H180.246Z" fill="white" />
                                <path d="M59.2798 39.2007V22.8828H61.4014L66.9748 37.1086L72.6748 22.8828H74.7014V39.2007H73.3714V24.138H73.3081L67.6714 39.2007H66.3098L60.6415 24.2078H60.6098V39.2007H59.2798Z" fill="white" />
                                <path d="M78.0893 33.8673C78.1209 36.2732 79.1343 38.3303 81.6676 38.3303C83.1243 38.3303 84.3276 37.1797 84.6443 35.6107H85.9426C85.3093 38.3303 83.7576 39.5855 81.2876 39.5855C78.2159 39.5855 76.7593 36.6567 76.7593 33.5535C76.7593 30.4852 78.3109 27.5215 81.3509 27.5215C84.8026 27.5215 86.0376 30.3109 86.0376 33.8673H78.0893ZM84.7393 32.6121C84.5809 30.4155 83.5359 28.7767 81.3826 28.7767C79.3559 28.7767 78.3109 30.6247 78.1526 32.6121H84.7393Z" fill="white" />
                                <path d="M95.6332 37.5326L95.6015 37.428C94.7465 38.7878 93.5115 39.52 92.0549 39.52C88.9832 39.52 87.8115 36.3123 87.8115 33.4531C87.8115 30.5243 88.9832 27.4909 92.0549 27.4909C93.4165 27.4909 94.8732 28.2231 95.6015 29.548L95.6332 29.5132V22.8535H96.8682V36.6609C96.8682 37.5326 96.9315 38.4392 96.9632 39.2062H95.6965L95.6332 37.5326ZM92.2765 28.7809C89.9332 28.7809 89.1732 31.1868 89.1732 33.3485C89.1732 35.4406 89.7432 38.3345 92.0865 38.3345C94.7782 38.3345 95.6015 35.859 95.6015 33.2788C95.6015 30.9776 94.6832 28.7809 92.2765 28.7809Z" fill="white" />
                                <path d="M101.112 24.5913H99.6865V22.8828H101.112V24.5913ZM101.017 39.2007H99.7815V27.8688H101.017V39.2007Z" fill="white" />
                                <path d="M110.642 31.3569C110.547 29.6135 109.534 28.7767 107.824 28.7767C105.924 28.7767 104.752 30.9385 104.752 33.5186C104.752 36.1337 105.924 38.2955 107.824 38.2955C109.439 38.2955 110.547 37.2146 110.642 35.6455H111.972C111.656 38.2606 110.294 39.5507 107.951 39.5507C104.879 39.5507 103.422 36.6218 103.422 33.5535C103.422 30.4852 104.974 27.5215 108.014 27.5215C110.136 27.5215 111.846 28.9162 111.972 31.3569H110.642Z" fill="white" />
                                <path d="M115.552 24.5913H114.127V22.8828H115.552V24.5913ZM115.457 39.2007H114.222V27.8688H115.457V39.2007Z" fill="white" />
                                <path d="M119.795 39.202H118.56V30.4155C118.56 29.5438 118.497 28.6372 118.465 27.8702H119.732L119.795 29.5438L119.827 29.5787C120.555 28.184 121.727 27.5215 123.057 27.5215C126.414 27.5215 126.699 30.799 126.699 32.124V39.2369H125.464V31.9148C125.464 29.9622 124.45 28.7767 122.74 28.7767C120.714 28.7767 119.795 30.6595 119.795 32.6818V39.202Z" fill="white" />
                                <path d="M129.96 33.8673C129.992 36.2732 131.005 38.3303 133.539 38.3303C134.995 38.3303 136.199 37.1797 136.515 35.6107H137.814C137.18 38.3303 135.629 39.5855 133.159 39.5855C130.087 39.5855 128.63 36.6567 128.63 33.5535C128.63 30.4852 130.182 27.5215 133.222 27.5215C136.674 27.5215 137.909 30.3109 137.909 33.8673H129.96ZM136.61 32.6121C136.452 30.4155 135.407 28.7767 133.254 28.7767C131.227 28.7767 130.182 30.6247 130.024 32.6121H136.61Z" fill="white" />
                                <path d="M3.8 6.35792L19.9183 39.2377H28.8483L10.26 0.535095H0V39.2377H3.8V6.35792Z" fill="white" />
                                <path d="M41.5792 39.2377H49.4958V0.535095H41.6108L32.3008 18.945L23.4658 0.535095H14.4092L29.8308 32.6129L41.6108 9.21703L41.5792 39.2377Z" fill="white" />
                                <path d="M139.84 24.592C138.922 24.592 138.162 25.4291 138.162 26.4405C138.162 27.4868 138.922 28.2889 139.84 28.2889C140.759 28.2889 141.519 27.4519 141.519 26.4405C141.519 25.3942 140.759 24.592 139.84 24.592ZM139.84 28.0099C139.049 28.0099 138.384 27.3124 138.384 26.4056C138.384 25.5337 139.017 24.8362 139.84 24.8362C140.632 24.8362 141.265 25.5337 141.265 26.4056C141.265 27.3124 140.632 28.0099 139.84 28.0099Z" fill="white" />
                                <path d="M140.473 26.9277C140.442 26.7186 140.41 26.5443 140.22 26.4746C140.442 26.4049 140.505 26.1958 140.505 25.917C140.505 25.5685 140.315 25.3594 139.998 25.3594H139.207V27.5201H139.428V26.5792H139.998C140.22 26.5792 140.252 26.7534 140.283 26.9625C140.315 27.1716 140.283 27.4156 140.347 27.4853H140.6C140.505 27.3807 140.505 27.1368 140.473 26.9277ZM139.903 26.3352H139.428V25.5685H139.998C140.22 25.5685 140.315 25.7079 140.315 25.9518C140.283 26.2655 140.125 26.3352 139.903 26.3352Z" fill="white" />
                            </svg>
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="https://westhealth.org" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="210" height="45" viewBox="0 0 210 45" fill="none" class="mw-100">
                                <g clip-path="url(#clip0_1643_4494)">
                                    <path d="M62.0441 20.5912L60.7288 17.4227C60.175 16.0544 58.8597 16.6305 58.8597 16.0544C58.8597 15.8384 58.929 15.6943 59.2751 15.6943C60.3827 15.6943 61.6287 15.7663 62.8748 15.7663C64.1209 15.7663 65.2977 15.6943 66.8206 15.6943C67.0975 15.6943 67.236 15.8384 67.236 16.1264C67.236 16.7745 65.4362 16.1984 65.4362 17.7107C65.4362 17.9988 65.5746 18.4308 65.7823 18.9349L68.5513 26.1362L70.6973 20.6633C70.905 20.0871 71.1126 19.367 71.1126 18.6469C71.1126 16.0544 69.1051 16.8465 69.1051 16.1264C69.1051 15.9104 69.2435 15.7663 69.7281 15.7663C70.5588 15.7663 71.3203 15.8384 72.0125 15.8384C72.7048 15.8384 73.7429 15.7663 74.2968 15.7663C74.7124 15.7663 74.8507 15.9824 74.8507 16.1264C74.8507 16.7025 73.0509 16.3425 71.5972 20.2312L67.0975 31.8252C67.0283 32.0413 66.8899 32.1853 66.6822 32.1853C66.4745 32.1853 66.3361 32.0413 66.2668 31.8252L62.2518 21.5274L57.9598 31.8252C57.8906 32.0413 57.7522 32.1853 57.5444 32.1853C57.3368 32.1853 57.1983 32.0413 57.1291 31.8252L51.6603 17.5667C51.1757 16.2704 49.9297 16.7025 49.9297 16.1264C49.9297 15.9104 50.0681 15.7663 50.4142 15.7663C51.5218 15.7663 52.6987 15.8384 53.8755 15.8384C55.0524 15.8384 56.2292 15.7663 57.406 15.7663C57.8214 15.7663 57.9598 15.9104 57.9598 16.1264C57.9598 16.4865 56.3676 16.2704 56.3676 17.6387C56.3676 17.9267 56.5753 18.3588 56.7137 18.7189L59.4828 26.3522L62.0441 20.5912Z" fill="white" />
                                    <path d="M81.4305 22.8964C81.5 27.2172 84.1305 29.3776 86.9688 29.3776C89.0454 29.3776 90.1532 28.6574 91.1219 27.5052C91.8141 26.7131 91.8141 26.137 92.0915 26.137C92.1602 26.137 92.2985 26.209 92.2985 26.353C92.2985 27.4332 90.7063 32.1141 85.0993 32.1141C80.5305 32.1141 77.4844 28.7295 77.4844 23.6885C77.4844 19.0077 80.6688 15.479 85.0993 15.479C88.9071 15.479 92.1602 17.9995 92.2985 22.8964H81.4305ZM88.2836 22.1042C88.2149 17.4234 87.0375 16.1271 85.1688 16.1271C83.0227 16.1271 81.5688 18.2875 81.5 22.1042H88.2836Z" fill="white" />
                                    <path d="M98.3906 25.8481C98.3906 25.6321 98.5289 25.5601 98.6672 25.5601C98.9445 25.5601 98.875 25.9201 99.4289 27.1444C100.329 29.1607 101.644 31.4651 104.482 31.4651C106.559 31.4651 107.598 30.3849 107.598 28.8007C107.598 24.7679 98.4594 26.3522 98.4594 20.1591C98.4594 17.7107 100.606 15.4062 104.344 15.4062C106.352 15.4062 108.428 16.0544 109.398 16.7745V20.8793C109.398 21.0233 109.328 21.0953 109.19 21.0953C108.913 21.0953 108.913 20.4472 108.29 19.295C107.528 17.7827 106.352 16.0544 103.928 16.0544C102.544 16.0544 101.575 16.7745 101.575 18.2148C101.575 21.7434 110.713 20.3752 110.713 26.2802C110.713 30.0249 108.013 32.0413 104.206 32.0413C102.544 32.0413 100.467 31.7532 98.4594 31.0331V25.8481H98.3906Z" fill="white" />
                                    <path d="M126.497 15.7669L125.666 17.4951H121.79V27.433C121.79 29.5934 122.689 30.4575 123.935 30.4575C125.043 30.4575 125.666 30.0255 126.289 29.2333C126.566 28.8732 126.635 28.5132 126.843 28.5132C126.981 28.5132 127.051 28.5852 127.051 28.8012C127.051 29.3053 125.666 32.1138 121.928 32.1138C118.952 32.1138 117.498 30.3135 117.498 27.577V17.4951H115.352C118.19 15.1188 119.99 12.8143 121.651 9.71777H121.72V15.8389H126.497V15.7669Z" fill="white" />
                                    <path d="M134.941 18.5747C136.049 16.6303 137.71 15.7661 139.58 15.7661C144.356 15.7661 144.702 20.231 144.702 22.0312V31.753H142.971V21.7432C142.971 19.0787 141.518 17.4945 139.164 17.4945C136.256 17.4945 134.941 20.0869 134.941 22.8234V31.753H133.211V9.50098H134.941V18.5747Z" fill="white" />
                                    <path d="M150.377 24.48C150.446 27.7926 151.83 30.5291 155.43 30.5291C157.507 30.5291 159.238 28.9448 159.653 26.8565H161.453C160.553 30.5291 158.338 32.2574 154.877 32.2574C150.516 32.2574 148.508 28.2967 148.508 24.048C148.508 19.8712 150.723 15.8384 155.015 15.8384C159.93 15.8384 161.661 19.6551 161.661 24.48H150.377ZM159.791 22.7517C159.584 19.7272 158.061 17.4947 155.015 17.4947C152.177 17.4947 150.654 20.0152 150.446 22.7517H159.791Z" fill="white" />
                                    <path d="M174.538 20.8075C174.33 18.287 173.153 17.4949 171.076 17.4949C169.276 17.4949 167.753 18.071 167.477 20.1593H165.607C166.023 16.9908 168.307 15.7666 171.076 15.7666C174.33 15.7666 176.337 17.3509 176.268 20.8795V28.2248C176.268 29.4491 176.337 30.6733 176.406 31.6815H174.606L174.538 29.3771H174.468L174.399 29.5931C173.776 30.8893 171.838 32.1136 169.83 32.1136C167.13 32.1136 164.984 30.3852 164.984 27.3607C164.984 25.2723 166.161 23.688 167.891 22.8958C169.83 22.0317 172.391 22.3197 174.468 22.1757V20.8075H174.538ZM170.176 30.5293C173.984 30.5293 174.745 27.2167 174.538 23.976C172.045 24.0481 166.853 23.544 166.853 27.4327C166.923 29.5211 168.377 30.5293 170.176 30.5293Z" fill="white" />
                                    <path d="M182.841 9.50098H181.109V31.753H182.841V9.50098Z" fill="white" />
                                    <path d="M189.142 17.9278H186.234V16.1995H189.142V12.8869L190.873 12.0947V16.1995H194.195V17.9278H190.873V28.2977C190.873 29.7379 191.565 30.4581 192.88 30.4581C193.434 30.4581 193.919 30.4581 194.403 30.242V31.8263C193.849 31.9703 193.227 32.1144 192.603 32.1144C188.934 32.1144 189.142 29.5939 189.142 27.5055V17.9278Z" fill="white" />
                                    <path d="M199.871 18.5747C200.979 16.6303 202.641 15.7661 204.509 15.7661C209.286 15.7661 209.632 20.231 209.632 22.0312V31.753H207.902V21.7432C207.902 19.0787 206.448 17.4945 204.094 17.4945C201.187 17.4945 199.871 20.0869 199.871 22.8234V31.753H198.141V9.50098H199.871V18.5747Z" fill="white" />
                                    <path d="M38.0291 22.536C38.0291 33.6261 29.9298 42.9157 19.892 42.9157C18.7152 42.9157 17.6076 42.7717 16.5 42.5556C18.8537 43.7799 21.4842 44.5 24.2532 44.5C34.637 44.5 43.0826 34.4902 43.0826 22.536C43.1518 10.5819 34.7063 0.5 24.3225 0.5C21.5535 0.5 18.9229 1.22013 16.5692 2.44435C17.6768 2.22831 18.7845 2.08429 19.9613 2.08429C29.9298 2.08429 38.0291 11.446 38.0291 22.536Z" fill="white" />
                                    <path d="M4.10536 22.5362C4.10536 13.7507 8.67426 6.26132 15.1814 2.80469C6.73592 4.53301 0.367188 12.7425 0.367188 22.5362C0.367188 32.3301 6.73592 40.4676 15.1814 42.2679C8.60504 38.8113 4.10536 31.2499 4.10536 22.5362Z" fill="#E8E5F3" />
                                    <path d="M12.9662 27.3607C10.4049 27.3607 8.32812 25.2003 8.32812 22.5358C8.32812 19.8713 10.4049 17.7109 12.9662 17.7109C15.5275 17.7109 17.6043 19.8713 17.6043 22.5358C17.6043 25.2003 15.5275 27.3607 12.9662 27.3607Z" fill="#E8E5F3" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_1643_4494">
                                        <rect width="210" height="44" fill="white" transform="translate(0 0.5)" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="https://mmhpi.org" target="_blank">
                            <img src="/-/media/west-health/MeadowsInstitute.png" alt="Meadows Mental Health Policy Institute Logo" class="mw-100" height="40">
                        </a>
                    </div>
                </div>

                <p class="small text-white-50 mb-0">
                    © 2025 by Northwestern Medicine and Northwestern Memorial HealthCare<br />
                    Northwestern Medicine® is a trademark of Northwestern Memorial HealthCare, used by Northwestern University.
                </p>
                <p class="small text-white-50 mt-2">
                    @for (int i = 0; i < Model.FooterUtilityLinks.Count; i++)
                    {
                        var link = Model.FooterUtilityLinks[i];
                        <a href="@link.LinkSource" target="_blank">@link.LinkText</a>

                        if (i < Model.FooterUtilityLinks.Count - 1)
                        {
                            @:&nbsp;|&nbsp;
                        }

                    }
                </p>
            </div>

            <!-- Right: Nav and Social -->
            <!--      <div class="col-lg-4">-->
            <div class="col-auto offset-lg-1 mt-3 mt-lg-auto mx-auto">
                <div class="d-flex flex-column align-items-center align-items-lg-start h-100 justify-content-between">
                    <a href="#BackToTop" class="order-4 order-lg-0 btn btn-outline-light back-to-top rounded-circle mt-4 mt-lg-auto mb-lg-3 p-0" aria-label="Back to Top">
                        <i class="bi bi-arrow-up-short fs-4"></i>
                    </a>

                    <ul class="footer-nav list-unstyled d-none d-lg-block mb-4">
                        @foreach (var navItem in Model.Links)
                        {
                            var baseClass = "primary-copy primary-copy--lg fw-bold mb-4 link-offset-2";
                            //var linkClass = navItem.IsActive ? baseClass + " active" : baseClass;
                            var linkClass = !navItem.IsActive ? baseClass + " active" : baseClass;
                            <li class="mb-4"><a href="@navItem.LinkSource" data-sortorder="@navItem.Sortorder" class="@linkClass">@navItem.LinkText</a></li>
                        }
                    </ul>

                    <div class="footer-socials d-flex gap-3 align-items-center">
                        @foreach (var navItem in Model.SocialLinks)
                        {
                            <a href="@navItem.LinkSource" target="_blank" class="footer-socials__link" aria-label="@navItem.LinkText"><i class="bi @navItem.LinkIconClass icon--fs-1 icon-lg--fs-5" aria-hidden="true"></i></a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>