@using EMS.ems.Models
@using Sitecore.Data.Items
@using EMS.Areas.ems.Helper
@using Sitecore
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using EMS.Areas.ems.Helper
@using EMS.Areas.ems.Models
@using Sitecore.Resources.Media
@model ModuleGroup
@using Sitecore.Mvc.Extensions
@{
    Layout = null;
    string elemid = "elem";
    int counter = 0;
}


@if (Model != null && Model.modules != null && Model.modules.Count() > 0)
{
    int totalcount = Model.modules.Count();
    <section class="accordion section" id="@Model.GroupId">
        <header>
            <p class="h4 accordion-title">
                @Model.GroupTitle
                        @if (totalcount > 1)
                        {
                            <a href="javascript:void(0);" class="expandall right btn-link">expand all</a>

                        }
                    </p>
        </header>
        @foreach (var item in Model.modules)
        {
            counter++;
            <div class="card">
                <div class="card-header accordion-header-bg-color" id="headingOne">
                    <h2 class="mb-0">
                        <button class= "@(totalcount==1?"accordion-btn ":"accordion-btn collapsed")" type="button" data-toggle="collapse" data-target="#@(elemid + counter)" aria-expanded="@(counter==1?"true":"false")"  aria-controls="@(elemid + counter)">
                            @item.Title
                        </button>
                    </h2>
                </div>
                <div id="@(elemid + counter)" class="@(totalcount==1?"collapse show":"collapse")" aria-labelledby="headingOne" data-parent="@Model.GroupId" style="">
                    <div class="card-body">
                        @item.MainContent
                        @{
                            var listofmedialinks = SitecoreAccess.GetMultiListItems(item.Item, "Media Links");
                            bool hasLinks = (listofmedialinks != null && listofmedialinks.Count > 0);

                        }
                        @if (hasLinks)
                        {
                            
                            <ul>
                                @foreach (Item i in listofmedialinks)
                                {
                                    var title = i.Fields["Title"].Value;
                                    <li>
                                        <strong>
                                            <a style="font-size: 16px;" href="@StringUtil.EnsurePrefix('/', MediaManager.GetMediaUrl(i))"> @(!String.IsNullOrWhiteSpace(title) ? title : i.Name) </a>
                                        </strong>
                                    </li>
                                }
                            </ul>
                        }
                    </div>
                    <div>
                        @if (item.CTALink != null && item.CTATitle != null)
                        {
                            <div style="padding:5px;"><a class="btn btn-lg btn-primary" href="@item.CTALink.ToString()" role="button">@item.CTATitle</a></div>
                        }
                    </div>
                </div>
            </div>
        }
    </section>
}
else if (Sitecore.Context.PageMode.IsExperienceEditor)
{
    <span style="width:100%;border:1px solid;"> Select Data Source</span>
}
<script src="~/Areas/ems/Scripts/accordion.js"></script>

