@using NM_MultiSites.Areas.ems.Models.User
@model PasswordUpdate


<link href="~/Areas/ems/Content/login.css" rel="stylesheet" />
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
    <div id="formContent">

        @if (Model == null)
        {
            <p class="topmargin35">Please enter below details to change password.</p>

            <form method="post" oninput='ConfirmPassword.setCustomValidity(ConfirmPassword.value != NewPassword.value ? "Passwords do not match." : "")'>
                @Html.TextBoxFor(m => m.OldPassword, new
                {
                    @type = "password",
                    @class = "fadeIn first form-required",
               @oninvalid = "this.setCustomValidity('Please Enter Old Password')",
                    @oninput = "setCustomValidity('')",
               @placeholder = "Enter Old Password",
                    @required = "required",
                    @autocomplete = "off"
                })
                @Html.TextBoxFor(m => m.NewPassword, new
                {
                    @type = "password",
                    @class = "fadeIn second form-required",
               @oninvalid = "this.setCustomValidity('Please Enter New Password')",
                    @oninput = "setCustomValidity('')",
               @placeholder = "Enter New Password",
                    @required = "required",
                    @autocomplete = "off"
                })
                @Html.TextBoxFor(m => m.ConfirmPassword, new
                {
                    @type = "password",
                    @class = "fadeIn third form-required",
               @oninvalid = "this.setCustomValidity('Passwords do not match.')",
                    @oninput = "setCustomValidity('')",
               @placeholder = "Confirm New Password",
                    @required = "required",
                    @autocomplete = "off"
                })
                <input type="submit" class="fadeIn fourth" value="Update Password">
            </form>
        }
        else
        {
            <form method="post">

                @if (!String.IsNullOrWhiteSpace(@Model.Message))
                {
                    <div class='@(Model.Success ?"alert alert-info":"alert alert-danger")' role="alert">
                        @Model.Message
                    </div>
                }
            </form>
        }
    </div>
</div>