@using NM_MultiSites.Areas.ems.Models.User
@model PasswordUpdate


<link href="~/Areas/ems/Content/login.css" rel="stylesheet" />
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
    <div id="formContent">
       
        @if (Model == null)
        {
    <p class="topmargin35">Please enter below details to change password.</p>

            <form method="post">
                @Html.TextBoxFor(m => m.OldPassword, new { @type = "password", @class = "fadeIn first", @placeholder = "Enter Old Password" ,@autocomplete="off"})
                @Html.TextBoxFor(m => m.NewPassword, new { @type = "password", @class = "fadeIn second", @placeholder = "Enter New Password" ,@autocomplete="off"})
                @Html.TextBoxFor(m => m.ConfirmPassword, new { @type = "password", @class = "fadeIn third", @placeholder = "Confirm New Password" ,@autocomplete="off"})
                <input type="submit" class="fadeIn fourth" value="Update Password">
            </form>
        }
        else
        {
    <form method="post">

        @if (!String.IsNullOrWhiteSpace(@Model.Message))
        {
        <div class='@(Model.Success ?"alert alert-info":"alert alert-danger")' role="alert">
            @Model.Message
        </div>
        }
    </form>
        }
    </div>
</div>