@using NM_MultiSites.Areas.ems.Models.User
@model CurrentUserInfo


<link href="~/Areas/ems/Content/login.css" rel="stylesheet" />
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
    <div id="formContent">

        @if (Model == null)
        {

            if (!String.IsNullOrWhiteSpace(@ViewBag.Message))
            {
                <div class="alert alert-danger" role="alert">
                    @ViewBag.Message
                </div>
            }
            <!-- Login Form -->
            <form method="post" class="topmargin35">
                <input required="required" type="text" id="login" class="fadeIn second form-required"
                       oninvalid="this.setCustomValidity('Please Enter User Name')" oninput="setCustomValidity('')"
                       name="username" placeholder="User Name" autocomplete="off" title="Please enter user name">
                <input required="required" type="password" id="password" class="fadeIn third form-required"
                       oninvalid="this.setCustomValidity('Please Enter Password')" oninput="setCustomValidity('')"
                       name="password" placeholder="Password" autocomplete="off">
                <input type="submit" class="fadeIn fourth" value="Log In">
            </form>
            <ul class="menu nav">
                <li class="col-lg-12"><a href="/login/resetpassword">Reset Password</a></li>
            </ul>
        }
        else
        {
            <form method="post">
                <input type="text" id="logout" class="fadeIn third" name="logout" placeholder="password" value="logout" hidden>
                <strong>@Model.UserName  </strong><input type="submit" class="fadeIn fourth" value="Log Out"> <br />
                Email : @Model.Email <br /> Npi ID: @Model.NPIs
            </form>
        }
    </div>
</div>