@using Innovation.Areas.Innovation.Helpers
@using Innovation.Areas.Innovation.Infrastructure.Extensions;

@model Innovation.Areas.Innovation.Models.Components.MissionInformation


@{
    bool isEditMode = Sitecore.Context.PageMode.IsExperienceEditor;
    var ImageonLeft = RenderingContext.Current.Rendering.Parameters["Image on Left"];
    string cssImageonLeft = ImageonLeft == "1" ? "flex-row-reverse" : String.Empty;
}

<section class="mission-information d-flex flex-row flex-wrap @cssImageonLeft ">
    <div class="col-lg-6 col-sm-12 p-5 mission-content">
        <h2>@Model.Title</h2>
        <div>@Model.MissionInfo</div>
    </div>

    <div class="col-lg-6 col-sm-12 align-self-center">
        @if (!isEditMode)
        {
            if (Model.IsVideoAvailable && Model.ytVideo == null)
            //Displays a non-fatal error if youtube marks video as private
            {
                <img src="/~/media/Innovation/images/NotAvailable.png" alt="youtube private video">
            }
            else
            {

                if (Model.IsVideoAvailable)
                {
                    <a data-fancybox class="w-100" href="@(string.Format("https://www.youtube.com/embed/{0}?wmode=transparent&rel=0&autoplay=1", Model.Video.ParseYouTubeId()))" target="_blank">
                        <figure>
                            <img src="@Model.ytVideo.ThumbnailUrl" alt="youtube video">
                            <span class="bi bi-play-fill"></span>
                        </figure>
                    </a>
                }

                else
                {
                    <div class="mission-image">
                        @Html.Sitecore().Field("Image", Model.SourceItem)
                    </div>
                }
            }
        }
        else
        {
            if (Model.SourceItem != null)
            {
                <p>Enter Youtube Video URL Here : @Html.Sitecore().Field("Video", Model.SourceItem)</p>
                @Html.Sitecore().Field("Image", Model.SourceItem, new { @class = "w-100 h-75" })
            }
        }
    </div>

</section>