@model NM_MultiSites.Areas.Innovation.Models.Components.EventList

<section class="card-list-block">
    <div class="mt-5 card-list-header">
        <h2 class="card-title">@Model.Title</h2>
    </div>
    <div class="card-list-content row">
        <div id="card-slider" class="group-cards card-container">
            @if (Model.Events !=null && Model.Events.Any())
            {
                foreach (var card in @Model.Events)
                {
                    <div class="card">
                        <div class="card-content-body">
                            <p class="card-title text-uppercase">@card.Type</p>
                            <h4 class="card-link"><a href="@card.Link">@card.LinkTitle</a></h4>
                        </div>
                        <div class="card-content-footer">
                            <h5 class="card-subtitle text-uppercase">@card.DateString</h5>
                            <p class="card-alt-subtitle">@card.Location</p>
                        </div>
                    </div>
                }
            }
            else
            {
                <p class="no-events"><span class="h5 ps-4">There are no events at this time.</span></p>
            }
        </div>
    </div>
</section>
