@model NM_MultiSites.Areas.Innovation.Models.Components.HeadlineCopyBlock

@{
    bool isEditMode = Sitecore.Context.PageMode.IsExperienceEditor;
}
<div class="copy-block-card">
    <div class="copy-block-card-container">
        @if (isEditMode)
        {
            <h2 class="block-card-title">@Model.Heading</h2>
            <h3 class="block-card-subtitle">@Model.BodyTitle</h3>
            <p class="block-card-content">
                @Model.BodyContent
            </p>

        }
        else
        {
            if (!String.IsNullOrWhiteSpace(Model.Heading.ToString()))
            {
                <h2 class="block-card-title">@Model.Heading</h2>
            }
            if (!String.IsNullOrWhiteSpace(Model.BodyTitle.ToString()))
            {
                <h3 class="block-card-subtitle">@Model.BodyTitle</h3>
            }
            if (!String.IsNullOrWhiteSpace(Model.BodyContent.ToString()))
            {
                <p class="block-card-content">
                    @Model.BodyContent
                </p>
            }
        }
    </div>
</div>

