@model Innovation.Areas.Innovation.Models.Components.ImageTextCard

@{
    bool isEditMode = Sitecore.Context.PageMode.IsExperienceEditor;
    var ImageonLeft = RenderingContext.Current.Rendering.Parameters["Image on Left"];
    var PaddingTop = RenderingContext.Current.Rendering.Parameters["Padding Top"];
    string cssImageonLeft = ImageonLeft == "1" ? "image-text-left" : String.Empty;
    string cssPaddingTop = PaddingTop == "1" ? "border-top" : String.Empty;
}


    <section class="d-flex flex-row flex-wrap image-text-cards @cssImageonLeft @cssPaddingTop">
        <div class="col-lg-8 col-md-12 col-sm-12 content-card">

            @if (isEditMode)
            {

                <div class="content-card-image">
                    @Html.Sitecore().Field("BackgroundImage", Model.SourceItem, new { @loading = "lazy" })
                </div>
                <div class="content-card-text">
                    <span class="h3 title-card">@Model.Title</span>
                    @Html.Sitecore().BeginField("Link", Model.SourceItem, new { haschildren = true, @class = "btn btn-secondary" })
                    @Model.LinkTitle
                    @Html.Sitecore().EndField()
                </div>
            }
            else
            {
                <a href="@Model.Link" class="image-card-link">
                    <div class="content-card-image">
                        @Html.Sitecore().Field("BackgroundImage", Model.SourceItem, new { @loading = "lazy" })
                    </div>
                    <div class="content-card-text">
                        <span class="h3 title-card">@Model.Title</span>
                        @Html.Sitecore().BeginField("Link", Model.SourceItem, new { haschildren = true, @class = "btn btn-secondary" })
                        @Model.LinkTitle
                        @Html.Sitecore().EndField()
                    </div>
                </a>
            }


        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 image-card">
            @Model.Image
        </div>
    </section>
