@using NM_MultiSites.Areas.Longevity.Helpers
@model NM_MultiSites.Areas.Longevity.Models.Global.Footer

<div class="footer-overlay"></div>
<div class="footer-content">
    <div>
        <h2>@Model.Title1</h2>
        <p class="subtitle">@Model.Title2</p>
        <a class="plan-your-visit button" href="#">@Model.FormButtonLabel</a>
    </div>
    <div>
        <div class="footer-links">
            <div><a href="@Model.PoliciesLink.CTALink" target="_blank">@Model.PoliciesLink.Title</a></div>
            <div><a href="@Model.AccessibilityLink.CTALink" target="_blank">@Model.AccessibilityLink.Title</a></div>
        </div>
    </div>
    <p class="copyright">@Model.Copyright</p>
    <div class="disclaimer">
        <p class="">@Model.Disclaimer</p>
    </div>
</div>